:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* elementos base */

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header .logo{
    display: flex;
    justify-self: start;
    color: var(--vermelho);
    font-family: 'arial black',Times;
    font-size: 40px;
   
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    margin: 20px;
    font-size: 20px;
    
}

header nav a:hover{
    color: #fff;
}

/* filme principal */
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/fmab.webp');
    height: 900px;
    background-size:cover;
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: center;
}

.sinopse{
    margin-top: 30px;
    margin-bottom: 60px;
    max-width: 50%;
    font-size: 20px;
}

.titulo{
    margin-top: 5%;
    font-size: 70px;
}


.botao{
    background-color:rgba(0,0,0,.50) ;
    border: none;
    color: white;
    padding: 30px 30px;
    margin-right: 40px;
    border-radius: 5%;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}
  
.botao i{
    margin-right: 10px;
}

.container,.botao{
    margin-left: 20px;
}

.box-filme{
    height: 10%;
    width: 10%;
    display: block;
}